{
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:prettier/recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:react-hooks/recommended"
        
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    
    "parser": "@typescript-eslint/parser",
    "plugins": ["prettier", "react", "react-hooks", "@typescript-eslint"],
    "parserOptions":{
        "ecmaVersion": 12,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "es2021": true,
        "browser": true,
        "node": true
    },
    "rules": {
        "react/react-in-jsx-scope": "off",
        "react/display-name": [1],
        "react/no-children-prop": [1],
        "react/prop-types": [1],
        "@typescript-eslint/no-use-before-define": ["warn"],
        "@typescript-eslint/ban-ts-comment": ["warn"],
        "react-hooks/rules-of-hooks": "warn",
        "react-hooks/exhaustive-deps": "warn",
        // "indent": ["error", 2],
        // "linebreak-style": ["error", "windows"],
        "quotes": ["error", "single"],
        "semi": ["error", "never"],
        "no-empty": ["error", { "allowEmptyCatch": true }],
        "prettier/prettier": ["error", { "endOfLine": "auto" }],
        "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".ts"] }],
        "@typescript-eslint/no-var-requires": 0
    }
}